@import 'styles/variables/colors';
@import 'styles/variables/common';
@import 'styles/utils';
// MarketName  component
.market-name {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
  
    &__icon {
      display: block;
      width: 28px;
      height: 28px;
      margin-right: 0.5em;
    }
  
    &__arrow {
      margin: 0 5px;
    }
  }


// DataGrid component


// SearchBar component


//Risk Params component
.risk-params {
  &__root {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
  }
  &__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__header-icon {
    margin-right: 8px;
    margin-bottom: 6px;
    vertical-align: middle;
  }
  &__card-body {
    &>span{
      font-size: 20px;
      color: #e0e0e0;
    }
    display: flex;
    justify-content: space-between;
  }
}

//Statistics Card component
.statistics-card {
  &__root {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white;
    padding: 24px;
  }
  &__number {
    font-size: 44px;
    color: white;
  }
  &__title {
    font-size: 22px !important;
    color: white;
  }
  &__icon {
    font-size: 75px !important;
  }
  &__opened {
    margin-left: 5px;
    font-size: 18px;
  }
}

//Module Card component
.module-card {
  &__root {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white;
  }
  &__tooltip {
    font-size: 12pt !important;
  }
  &__content {
    padding-bottom: 12px !important;
  }
  &__link {
    color: white;
  }
  &__action {
    color: #eed35d;
    text-transform: capitalize;
  }
}

//market grid component
.market-grid, .staker-grid, .trader-grid {
  &__root {
    width: 100%;
  }
  &__row {
    background-color: #1e4061;
    color: white;
  }
  &__icon {
    fill: white;
  }
  &__link {
    color: white;
  }
  &__tooltip {
    font-size: 12pt;
  }
}