@import 'styles/variables/colors';
@import 'styles/variables/common';
@import 'styles/utils';


.header-content {
    padding: 0 40px;
    padding-right: 280px;
    margin: auto;
}
@media only screen and (max-width: 768px) {
  .header-content {
    display: none;
  }
}
.title {
    color: rgb(238, 211, 93);
    font-weight: bold !important;
}

.layout {
   
    &__container {
      display: flex;
      flex-flow: column;
      height: 100vh;
    }
  
    &__header {
      border-bottom: 1px solid $color-border;
      background: lighten($color-bg, 2%);
    }
  
    &__main {
      flex-grow: 1;
      display: flex;
      height: calc(100vh - #{$header-height});
  
      &-content {
        flex-grow: 1;
        padding: 50px;
        overflow-y: scroll;
        background-color: #274867;
        color: white;
      }
    }
  }
  

//   Sidebar page

$social-colors: (
  'twitter': #3cf,
  'telegram': #0088cc,
  'discord': #7289da,
  'medium': #000000,
  'docs': #f77d05,
);
@media only screen and (max-width: 600px) {
  .toggle.sidebar {
    width: 0px !important;
    border:none;
    // min-width: 48px;
    transition: width .2s;
  }
}
.toggle.sidebar {
  width: 47px;
  // min-width: 48px;
  transition: width .2s;
}
.sidebar {
  display: flex;
  flex-direction: column;
  // grid-template-rows: 1fr 85px;
  width: $sidebar-width;
  // min-width: $sidebar-width;
  border-right: 1px solid $color-border;
  background: lighten($color-bg, 2%);
  transition: width .2s ease-in;
  &__social-collapse {
    display: none !important;
    margin-left: 0px !important;
    color: white !important;
    position: initial !important;
  }
  &__nav {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0 0;
    flex-grow: 1;
  }

  &__nav-item {
    display: block;
  }

  &__nav-link {
    $border-left-width: 4px;
    $padding: 15px;

    display: block;
    color: $color-fg;
    text-decoration: none;
    padding: $padding;
    padding-left: $padding - $border-left-width;
    border-left: $border-left-width solid transparent;
    transition: 0.2s border-color, 0.2s background-color;
    margin-bottom: 5px;
    white-space: nowrap;
    &:hover {
      border-color: darken($color-accent, 30%);
    }

    &_active {
      background-color: lighten($color-bg, 5%);
      border-color: $color-accent;
    }

    &-icon {
      width: 20px;
      margin-right: 1em;
    }
  }

  &__social-media {
    border-top: 1px solid #383536;
    padding-bottom: 12px;
  }

  &__social-title {
    padding: 10px 15px;
  }

  &__social-links {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    padding: 0 15px;
    justify-content: space-between;
    gap: 15px;
  }
  .toggle &__social-title, .toggle &__social-links {
    display: none;
  }
  .toggle &__social-collapse {
    display: block !important;
  }
  &__social-link {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @each $name, $color in $social-colors {
      &_color_#{$name} {
        background-color: $color;
      }
    }
  }
}

.mt-2 {
  margin-top: 2rem !important;
}