
.log-table {

  width: 100%;
  border-collapse: collapse;

  td, th {
    text-align: center;
    padding: 5px 10px;
    border: solid 1px gray;
  
  }
}

.react-tabs__tab {
  font-size: 17px;
}
.react-tabs__tab--selected {
  background: #182c3f;
  font-size: 18px;
  color: #fbf9f9;
}
.logs-kind-filter {
  margin-left: 40px!important;
}

.MuiSelect-select.MuiSelect-select{
  color: #dad2d2;
}
.MuiInputLabel-animated {
color: #1c1423;
}
.MuiTablePagination-root {
  color: #b1a0a0 !important;
}
.MuiSelect-icon {
  color: white;
}