
.log-table {

  width: 100%;
  border-collapse: collapse;

  td, th {
    text-align: center;
    padding: 5px 10px;
    border: solid 1px gray;
  
  }
}

.react-tabs__tab {
  font-size: 17px;
}
.react-tabs__tab--selected {
  background: #182c3f;
  font-size: 18px;
  color: #fbf9f9;
}
.logs-kind-filter {
  margin-left: 40px!important;
}
.logs-market-filter {
  margin-left: 40px!important;
}
.logs-search-icon{
  margin-top: 10px!important;
}
.logs-option{
  background-color: #2b4156!important;
}
.logs-option-text{
  padding: 5px;
}
.MuiSelect-select.MuiSelect-select{
  color: #dad2d2;
  padding: 5px;
}
.MuiInputLabel-animated {
color: #848186!important;
margin-left: 4px;
}
.MuiTablePagination-root {
  color: #b1a0a0 !important;
}
.MuiSelect-icon {
  color: white;
}

